body {
    background-color: #e1f5f4;
    color: #4e4429;
    font-family: "Open Sans Condensed", sans-serif;
}

header {
    display: flex;
    align-items: center;
    grid-area: header;
}

main {
    justify-content: start;
    grid-area: main;
    min-height: 100vh;
    background: linear-gradient(yellow, blue);
}

footer {
    grid-area: footer;
    margin-top: 20px;
}

header,
footer {
    background-color: black;
    height: 40px;
}

section {
    margin-top: 30px;
}

.layout_container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 55px;
    width: 55px;
    margin-left: 5px;
}

.main_h1 {
    margin-top: 30px;
    font-size: 2rem;
    text-transform: uppercase;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    background-color: gold;
    color: black;
    border: 3px solid black;
    border-radius: 10%;
    margin-bottom: 20px;
}

.btn:hover {
    background: #0d5a64c8;
    transition: 0.2s;
}

.animated-block {
    width: 200px;
    height: 200px;
    background-color: red;
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.animated-block.animate {
    transform: scale(0.5);
    opacity: 0;
}

#dateTimeBtn {
    color: black;
    font-style: normal;
    text-decoration: underline;
}

#menuList {
    display: none;
}

#message {
    display: none;
}

.image-container {
    position: relative;
}

.fade-image {
    width: 300px;
    height: auto;
    transition: opacity 0.5s;
}

.text-behind {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: auto;
    background-color: rgba(245, 40, 145, 0.6);
    padding: 10px;
    transition: opacity 0.5s;
    opacity: 0;
}

.text-behind p {
    margin: 0;
}

.fade-image:hover {
    opacity: 0.5;
}

.fade-image:hover + .text-behind {
    opacity: 1;
}

input[type="email"].invalid {
    border-color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Добавляем отступ сверху */
}

label {
    grid-column: 1 / span 2;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #4e4429;
}

#checkboxSkills {
    display: flex;
    flex-wrap: wrap;
}

#checkboxSkills label {
    margin-right: 10px;
    white-space: nowrap;
}

button[type="submit"] {
    padding: 10px;
    background-color: #4e4429;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Добавляем отступ сверху для кнопки регистрации */
}

button[type="submit"]:hover {
    background-color: #654f3b;
}

.invalid {
    border-color: red;
}
