.calender {
    background-color: #808589;
    color: #dbe4eb;

    padding: 20px;
    border: 2px solid #0d5a64;
}

.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    grid-template-rows: repeat(7, 40px);
    align-items: center;
    justify-items: center;
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90grad, #e09e2d 5%, #808589 40% 60%, #e09e2d 95%);
    max-width: 100%;
    width: 100%;
    min-width: 100%;
}

.Monthbutton {
    background-color: #e09e2d;
    height: 40px;
    width: 40px;
}

.MonthDay {
    height: 40px;
    width: 40px;
    text-align: center;
}

.weekend {
    color: #e09e2d;
}

.nextMonth,
.prevMonth {
    color: hsla(206, 29%, 89%, 0.357);
}
.notDayInMonth {
    color: hsla(206, 29%, 89%, 0.357);
}
.weekend.notDayInMonth {
    color: hsl(38, 74%, 53%, 0.357);
}

.currentDay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e09e2d;

    color: #dbe4eb;
    border: thick double#dbe4eb;

    min-width: 80%;
    min-height: 80%;
}