.DateTime {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: gold;
    color: black;

    padding: 5px;

    border: 2px solid #0d5a64;
    border-radius: 4px;

    height: 100px;
    width: 100%;
}